@media screen {
  .ObPageContainer-root {
    max-height: 100%;
    overflow: auto;
    height: auto;

    &.ObPageContainer-fullHeight {
      height: 100%;
    }
  }

  .ObPageContainer-inner {
    padding: 1rem !important;
    margin-left: 0 !important;
    height: auto;

    .ObPageContainer-fullHeight & {
      height: 100%;
    }
  }

  @media screen and (min-width: 600px) {
    .ObPageContainer-inner {
      padding: 1rem 1.5rem !important;
    }
  }
}
