#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.LayoutLarge-root {
  display: grid;
  grid-template-columns: 24rem 1fr;
  height: 100%;
  overflow: hidden;
}

.LayoutLarge-appBar {
  transition: padding 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  padding-left: 0;
}

.LayoutLarge-appBarSearch {
  max-width: 30rem;
}

.LayoutLarge-main {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
