.AppMenu-header {
  padding: 1rem;
}

.AppMenu-header .AppMenu-title {
  font-weight: 500;
  letter-spacing: -0.02rem;
}

.AppMenu-header .AppMenu-subTitle {
  font-size: 1.1rem;
}

.AppMenu-pendingCount {
  color: #666 !important;
  font-size: 0.8em;
  font-weight: 700;
  padding-right: 0.5rem;
}

.MenuItems-root .MuiList-root .MuiList-root .MuiListItem-root {
  padding-left: calc(3rem);
  padding-block: 0.25rem;
}

.MenuItems-root
  .MuiList-root
  .MuiList-root
  .MuiListItem-root
  .MuiTypography-root {
  font-size: 0.9rem;
}

.MenuItems-collapse {
  margin-bottom: -0.5rem;
  margin-top: -0.5rem;
}

.MenuItem-noWrap {
  overflow: hidden;
  white-space: nowrap;
}
